body, html {
    height: 100%;

}

.login-card {
    display: flex;

}

/*h4 {
color: white;

}*/

h5{
    /*padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;*/
    color: white;
}

/*
hr {
    height: 1px;
    border: none;
    color: teal;
    background-color: #000;
}*/
footer {
    align: center;
}

a:link {
    color: teal;
}

a:visited {
    color: teal;
}

p {
    margin: 0;
    padding: 0;
}

#demobox {
    /*background-color: #cfc ;*/
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 3px;

}

#sidebside {
    padding: 10px;
    border: solid teal 1px;
}

#card-reduced-pad {
    padding: 5px;
}