body, html {
    height: 100%;
    background-image: url("../img/unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    display: flex;

}