body, html {
    height: 100%;

}

.login-card {
    display: flex;

}


h5{

    color: white;
}


footer {
    align: center;
}

a:link {
    color: teal;
}

a:visited {
    color: teal;
}

p {
    margin: 0;
    padding: 0;
}

#demobox {
    /*background-color: #cfc ;*/
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 3px;

}

#sidebside {
    padding: 10px;
    border: solid teal 1px;
}

#card-reduced-pad {
    padding: 5px;
}