body, html {
    height: 100%;
    background-image: url("../img/backg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    display: flex;

}


h2 {
    color: teal;
}

h3 {
    color: teal;
}

a:link {
    color: teal;
}